[
  {sumo_db, [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends, [
      {our_backend_pgsql, sumo_backend_pgsql, [
        {host,     "127.0.0.1"},
        {port,      5432},
        {database, "store_example"},
        {username, "ferigis"},
        {password, "123456"}
      ]}
    ]},
    {stores, [
      {pgsql_store, our_pgsql_store, [
        {storage_backend, our_backend_pgsql},
        {workers, 10}
      ]}
    ]},
    {docs, [
      {people, pgsql_store, #{module => person}}
    ]},
    {events, []}
  ]}
].
