[
 {
   sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends,
     [{sumo_test_backend,
       sumo_backend_mysql,
       [{username, "root"},
        {password, ""},
        {host,     "127.0.0.1"},
        {port,     3306},
        {database, "sumo_test"},
        {poolsize, 10}]
      },
      {sumo_test_backend_mongo,
       sumo_backend_mongo,
       [{username, "root"},
        {password, "pass"},
        {host,     "127.0.0.1"},
        {port,     27017},
        {database, "sumo_test"},
        {poolsize, 10}]
      }
     ]
    },
    {repositories,
     [{sumo_test_mysql,
       sumo_test_repo,
       [{storage_backend, sumo_test_backend},
        {workers, 10}]
      },
      {sumo_test_mongo,
       sumo_repo_mongo,
       [{storage_backend, sumo_test_backend_mongo},
        {workers, 10}]
      }
     ]
    },
    {docs,
     [
      {sumo_test_people, sumo_test_mysql},
      {sumo_test_people_mongo, sumo_test_mongo}
     ]
    },
    {events,
     []
    }
   ]
 },
 {
   sasl,
   [
    {sasl_error_logger, false}
   ]
 }
].
