[
 {
   sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends,
     [{sumo_test_backend,
       sumo_backend_mysql,
       [{username, "root"},
        {password, ""},
        {host,     "127.0.0.1"},
        {port,     3306},
        {database, "sumo_test"},
        {poolsize, 10}]
      },
      {sumo_test_backend_mongo,
       sumo_backend_mongo,
       [{username, "root"},
        {password, "pass"},
        {host,     "127.0.0.1"},
        {port,     27017},
        {database, "sumo_test"},
        {poolsize, 10}]
      },
      {sumo_test_backend_elasticsearch,
       sumo_backend_elasticsearch,
       [{host, "127.0.0.1"},
        {port, 9200},
        {index, "sumo_test"},
        {poolsize, 10}]
      },
      {sumo_test_backend_pgsql,
       sumo_backend_pgsql,
       [{host, "127.0.0.1"},
        {port, 5432},
        {database, "sumo_test"},
        {username, "root"},
        {password, "pass"}]
      },
      {sumo_test_backend_riak,
       sumo_backend_riak,
       [{host, "127.0.0.1"},
        {port, 8087},
        {poolsize, 10}]
      },
      {sumo_test_backend_mnesia,
       sumo_backend_mnesia,
       []
      }
     ]
    },
    {stores,
     [{sumo_test_mysql,
       sumo_test_store,
       [{storage_backend, sumo_test_backend},
        {workers, 10}]
      },
      {sumo_test_mongo,
       sumo_store_mongo,
       [{storage_backend, sumo_test_backend_mongo},
        {workers, 10}]
      },
      {sumo_test_elasticsearch,
       sumo_store_elasticsearch,
       [{storage_backend, sumo_test_backend_elasticsearch},
        {workers, 10}]
      },
      {sumo_test_pgsql,
       sumo_store_pgsql,
       [{storage_backend, sumo_test_backend_pgsql},
        {workers, 10}]
      },
      {sumo_test_riak,
       sumo_store_riak,
       [{storage_backend, sumo_test_backend_riak},
        {workers, 10},
        {bucket_type, "maps"},
        {bucket, "sumo_test"},
        {index, "sumo_test_index"},
        {w_args, [{w, 2}, {pw, 0}, {dw, 0}, {returnbody, false}]},
        {r_args, [{r, 2}, {pr, 0}]}]
      },
      {sumo_test_mnesia,
       sumo_store_mnesia,
       [{storage_backend, sumo_test_backend_mnesia},
        {workers, 10}]
      }
     ]
    },
    {docs,
     [
      {sumo_test_people_mysql, sumo_test_mysql},
      {sumo_test_people_mongo, sumo_test_mongo},
      {sumo_test_people_elasticsearch, sumo_test_elasticsearch},
      {sumo_test_people_pgsql, sumo_test_pgsql},
      {sumo_test_people_riak, sumo_test_riak},
      {sumo_test_people_mnesia, sumo_test_mnesia}
     ]
    },
    {events,
     []
    }
   ]
 },
 {
   sasl,
   [
    {sasl_error_logger, false}
   ]
 }
].
