[
 {sumo_db, [
   {wpool_opts, [{overrun_warning, 100}]},
   {verbose, true},
   {query_timeout, 30000},
   {storage_backends, [
     {sumo_test_backend_mnesia, sumo_backend_mnesia, []}
   ]},
   {stores, [
     {sumo_test_mnesia, sumo_store_mnesia, [
       {workers, 10},
       {ram_copies, here},
       {majority, false}
     ]}
   ]},
   {docs, [
     {people, sumo_test_mnesia, #{module => sumo_test_people_mnesia}}
   ]},
   {events, [
     {people, sumo_test_people_events_manager}
   ]}
 ]}
].
