{sub_dirs,["deps", "examples"]}.
{lib_dirs,["deps", "examples"]}.
{erl_opts, [
  {parse_transform, lager_transform},
  {src_dirs, ["src", "test", "examples/blog/src", "examples/elastic-blog/src"]},
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  %warn_missing_spec,
  warn_untyped_record, debug_info
]}.
{deps, [
  {lager,       ".*", {git, "https://github.com/basho/lager.git",          "2.1.1"}},
  {emysql,      ".*", {git, "https://github.com/inaka/Emysql.git",         "0.4.2"}},
  {emongo,      ".*", {git, "https://github.com/inaka/emongo.git",         "v0.2.1"}},
  {tirerl,      ".*", {git, "https://github.com/inaka/tirerl",             "7ac7d57a24"}},
  {epgsql,      ".*", {git, "https://github.com/epgsql/epgsql",            "2.0.0"}},
  {worker_pool, ".*", {git, "https://github.com/inaka/worker_pool.git",    "1.0.3"}},
  {riakc,       ".*", {git, "https://github.com/inaka/riak-erlang-client", "2.1.1-R18"}},
  {uuid,        ".*", {git, "https://github.com/okeuday/uuid.git",         "v1.5.0"}},
  {mixer,       ".*", {git, "https://github.com/inaka/mixer",              "0.1.2"}},
  {iso8601,     ".*", {git, "https://github.com/kivra/erlang_iso8601.git", "1.1.2"}}
]}.
{xref_warnings, true}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{require_min_otp_vsn, "17"}.

%% Common test
{ct_log_dir,"log/ct"}.
{ct_extra_params,"-no_auto_compile -dir ebin -pa deps/*/ebin -smp enable -s emysql -s sumo_db -erl_args -config test/test.config"}.
