[
   {xref, [
            {config, #{dirs => ["ebin", "test"],
                       extra_paths => ["deps/uuid/ebin",
                                       "deps/cowlib/ebin",
                                       "deps/eper/ebin",
                                       "deps/gun/ebin",
                                       "deps/meck/ebin",
                                       "deps/ranch/ebin",
                                       "deps/shotgun/ebin",
                                       "deps/emongo/ebin",
                                       "deps/epgsql/ebin",
                                       "deps/jiffy/ebin",
                                       "deps/protobuffs/ebin",
                                       "deps/riak_pb/ebin",
                                       "deps/sync/ebin",
                                       "deps/wpool/ebin",
                                       "deps/emysql/ebin",
                                       "deps/goldrush/ebin",
                                       "deps/lager/ebin",
                                       "deps/quickrand/ebin",
                                       "deps/riakc/ebin",
                                       "deps/tirerl/ebin"]}},
            {checks, [ undefined_function_calls
                     , locals_not_used
                     , deprecated_function_calls
                     ]}
          ]
   }
].

