[
{sasl, [
  {sasl_error_logger, {file, "log/sasl-error.log"}},
  {errlog_type, error},
  {error_logger_mf_dir, "log/sasl"},      % Log directory
  {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
  {error_logger_mf_maxfiles, 5}           % 5 files max
]},
{sumo_db, [
  {wpool_opts, [{overrun_warning, 100}]},
  {log_queries, true},
  {query_timeout, 30000},
  {storage_backends, [
    {sumo_blog_backend_mnesia, sumo_backend_mnesia, []}
  ]},
  {stores, [
    {sumo_test_mnesia, sumo_store_mnesia, [
      {workers, 10},
      {ram_copies, here},
      {majority, false}
    ]}
  ]},
  {docs, [
    {post, sumo_test_mnesia, #{module => blog_post}},
    {author, sumo_test_mnesia, #{module => blog_author}},
    {reader, sumo_test_mnesia, #{module => blog_reader}},
    {vote, sumo_test_mnesia, #{module => blog_vote}}
]},
{events, [
  {post, blog_event_handler}
]}
]},
{sasl, [
  {sasl_error_logger, false}
]}].
