[
{sasl, [
  {sasl_error_logger, {file, "log/sasl-error.log"}},
  {errlog_type, error},
  {error_logger_mf_dir, "log/sasl"},      % Log directory
  {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
  {error_logger_mf_maxfiles, 5}           % 5 files max
]},
{sumo_db, [
  {repositories, [
    {mysql, sumo_repo_mysql, [
      {username, "root"},
      {password, "pass"},
      {host, "127.0.0.1"},
      {port, 3306},
      {database, "blog"}
    ]}
%    {mongo, sumo_repo_mongo, [
%      {username, "root"},
%      {password, "pepe"},
%      {host, "127.0.0.1"},
%      {port, 27017},
%      {database, "blog"}
%    ]},
%    {eredis, sumo_repo_redis, [
%      %{password, "pepe"},
%      {host, "127.0.0.1"},
%      {port, 6379},
%      {database, 0},
%      {reconnect_sleep, 100}
%    ]},
%    {sqlite3, sumo_repo_sqlite3, [
%      {file, "/tmp/sumo_db.sqlite3"},
%      {options, []}
%    ]}
  ]},
  {events, [
    {blog_post, my_event_bus}
  ]},
  {docs, [
    {blog_post,   mysql},
    {blog_author, mysql},
    {blog_reader, mysql},
    {blog_vote,   mysql}
  ]}
]},
{lager, [
  {handlers, [
    {lager_console_backend, debug},
    {lager_file_backend, [
      {"log/lager_error.log", debug, 10485760, "$D0", 5},
      {"log/lager_console.log", debug, 10485760, "$D0", 5}
    ]}
  ]}
]}
].

