[
 {
   sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends,
     [{sumo_test_backend_riak,
       sumo_backend_riak,
       [{host, "127.0.0.1"},
        {port, 8087},
        {poolsize, 10}]
      }
     ]
    },
    {stores,
     [{sumo_test_riak,
       sumo_store_riak,
       [{storage_backend, sumo_test_backend_riak},
        {workers, 10},
        {bucket_type, "maps"},
        {bucket, "sumo_test"},
        {index, "sumo_test_index"},
        {put_options, [{w, 2}, {pw, 0}, {dw, 0}]},
        {get_options, [{r, 2}, {pr, 0}]}]
      }
     ]
    },
    {docs,
     [
      {sumo_test_purchase_order, sumo_test_riak}
     ]
    },
    {events,
     []
    }
   ]
 },

 {
  sasl,
  [
   {sasl_error_logger, false}
  ]
 }
].
