%% == Erlang Compiler ==

{erl_opts, [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record,
  warn_as_error,
  debug_info,
  {parse_transform, lager_transform}
]}.

%% == Dependencies ==

{deps, [
  {mixer, "0.1.5", {pkg, inaka_mixer}},
  {sumo_db_pgsql, {git, "git://github.com/inaka/sumo_db_pgsql.git", {ref, "bc768fb"}}}
]}.
